Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/CookBook.sln
/.vs
/Intermediate
/Saved
/Build
/Plugins
*.sln
*_BuiltData.uasset